# Dependencies
node_modules
**/node_modules/

# Environment variables
.env
backend/.env
frontend/.env
*.env.local
.env.development.local
.env.test.local
.env.production.local

# SSL certificates for local development
ssl/
*.pem
*.key
*.crt
